// Colors
$macaroni-and-cheese: #fec02f;
$macaroni-and-cheese2: #ffc108;
$greyish-brown: #3f3f3f;
$black: #000000;
$white: #ffffff;
$black-two: #383838;
$off-white: #efeeec;
$brown-grey: #898989;
$very-light-pink: #d2d2d2;