{% extends "main/header.html" %}
{% load static %}
{% block content %}


<!-- **************** START Content ******************** -->


<section class="backend">
    <div class="container">
        <div class="col-md-12">
            <div class="step">
                <div class="one">
                    <div class="col-sm-2 images">
                        <img src="{% static 'main/images/uiux.png' %}" class="img-responsive" alt="">          
                    </div>
                    <div class="col-sm-10">
                        <div class="description">
                            <h4>تیم گرافیست</h4>
                            <!-- <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاه درصد گذشته، حی با تولید سادگی نامفهوم از صنعت چاپ و با استفاه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد ت</p> -->
                        </div>                    
                        <div class="author">                            
                            <ul>
                                <li>
                                    <img src="{% static 'main/images/milad.jpg' %}" class="img-responsive" alt="">
                                    <h6>میلاد داوود آبادی</h6>                                    
                                    <ul class="link">                                       
                                        <li class="email">
                                            <a href="persianfars@gmail.com">
                                                <i class="fa fa-envelope"></i>
                                                ایمیل
                                            </a>
                                        </li>
                                        <li class="github">                                            
                                        <a href="http://github.com/miladdavoodi/">
                                            <i class="fa fa-github"></i>
                                            گیت هاب
                                        </a>
                                        </li>
                                        <li class="linkedin">
                                            <a href="https://www.linkedin.com/in/milad-davoodabadi-45227b105/">
                                                <i class="fa fa-linkedin"></i>
                                                لینکدین
                                            </a>
                                        </li>
                                        <li class="website">
                                            <a href="#">
                                            <i class="fa fa-globe"></i>
                                            وب سایت
                                            </a>
                                        </li>
                                        <li class="instagram">                                    
                                        <a href="http://instagram.com/milad_davodabadi">
                                            <i class="fa fa-instagram"></i>
                                            اینستاگرام
                                        </a>
                                        </li>
                                       
                                    </ul>
                                </li>                                
                            </ul>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="step">
                <div class="one">
                    <div class="col-sm-2 images">
                        <img src="{% static 'main/images/uiux2.png' %}" class="img-responsive" alt="">          
                    </div>
                    <div class="col-sm-10">
                        <div class="description">
                            <h4>تیم  Frontend</h4>
                            <!-- <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاه درصد گذشته، حی با تولید سادگی نامفهوم از صنعت چاپ و با استفاه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد ت</p> -->
                        </div>                    
                        <div class="author">                            
                            <ul>
                                <li>
                                    <img src="{% static 'main/images/mohammad.jpg' %}" class="img-responsive" alt="">
                                    <h6>محمد رعنایی</h6>                                    
                                    <ul class="link">
                                        <li class="email">
                                            
                                            <a href="">
                                                <i class="fa fa-envelope"></i>
                                            ایمیل                                            
                                        </a>
                                        </li>
                                        <li class="github">
                                            
                                            <a href="https://github.com/mmdrn">
                                                <i class="fa fa-github"></i>
                                            گیت هاب
                                        </a>
                                        </li>
                                        <li class="linkedin">
                                            <a href="">
                                                <i class="fa fa-linkedin"></i>
                                            لینکدین
                                            </a>
                                        </li>
                                        <li class="website">
                                            <a href="">
                                                <i class="fa fa-globe"></i>
                                                وب سایت
                                            </a>
                                        </li>
                                        <li class="instagram">
                                        <a href="http://instagram.com/mohammmad_rn">
                                            <i class="fa fa-instagram"></i>
                                            اینستاگرام
                                        </a>
                                        </li>                                        
                                    </ul>
                                </li>     
                                <li>
                                    <img src="{% static 'main/images/shahab.jpg' %}" class="img-responsive" alt="">
                                    <h6>شهاب کریمی فر</h6>                                    
                                    <ul class="link">
                                        <li class="email">
                                            <a href="shahabkarimi7033@yahoo.com">
                                                <i class="fa fa-envelope"></i>
                                                ایمیل
                                            </a>
                                        </li>
                                        <li class="github">                                            
                                        <a href="https://github.com/shahabkarimifar">
                                            <i class="fa fa-github"></i>
                                            گیت هاب
                                        </a>
                                        </li>
                                        <li class="linkedin">
                                            <a href="https://www.linkedin.com/in/shahabkarimifar">
                                                <i class="fa fa-linkedin"></i>
                                                لینکدین
                                            </a>
                                        </li>
                                        <li class="website">
                                            <a href="http://shahabkarimifar.ir/">
                                            <i class="fa fa-globe"></i>
                                            وب سایت
                                            </a>
                                        </li>
                                        <li class="instagram">                                    
                                        <a href="https://www.instagram.com/shahabkarimifar/">
                                            <i class="fa fa-instagram"></i>
                                            اینستاگرام
                                        </a>
                                        </li>                                        
                                    </ul>
                                </li>
                                                   
                            </ul>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="step">
                <div class="one">
                    <div class="col-sm-2 images">
                        <img src="{% static 'main/images/uiux3.png' %}" class="img-responsive" alt="">          
                    </div>
                    <div class="col-sm-10">
                        <div class="description">
                            <h4>تیم Backend</h4>
                            <!-- <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاه درصد گذشته، حی با تولید سادگی نامفهوم از صنعت چاپ و با استفاه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد ت</p> -->
                        </div>                    
                        <div class="author">                            
                            <ul>                                
                                <li>
                                    <img src="{% static 'main/images/kia.jpg' %}" class="img-responsive" alt="">
                                    <h6>کیا حامدی</h6>                                    
                                    <ul class="link">                                        
                                        <li class="email">
                                            <a href="Kia.arta9793@gmail.com">
                                                <i class="fa fa-envelope"></i>
                                                ایمیل
                                            </a>
                                        </li>
                                        <li class="github">                                            
                                        <a href="https://github.com/kiahamedi">
                                            <i class="fa fa-github"></i>
                                            گیت هاب
                                        </a>
                                        </li>
                                        <li class="linkedin">
                                            <a href="https://ir.linkedin.com/in/kia-hamedi-b1b872131">
                                                <i class="fa fa-linkedin"></i>
                                                لینکدین
                                            </a>
                                        </li>
                                        <li class="website">
                                            <a href="http://kiahamedi.ir/">
                                            <i class="fa fa-globe"></i>
                                            وب سایت
                                            </a>
                                        </li>
                                        <li class="instagram">                                    
                                        <a href="https://www.instagram.com/kia.hamediii">
                                            <i class="fa fa-instagram"></i>
                                            اینستاگرام
                                        </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>    
</section>

{% endblock %} 