{% load staticfiles %}
<!-- footer -->
  <footer dir="rtl">
    <!-- menu -->
    <ul class="menu">
      {% if user.is_authenticated %}
      <li><a href="/admin"><span class="text"><strong>{{user.username}}</strong></span></a></li>
      <li><a href="https://agile-island-30135.herokuapp.com/"><span class="text">اتاق گفتگو</span></a></li>
      <li><a href="/logout/"><span class="text">خروج</span></a></li>

      {% else %}
      <li><a href="/login"><span class="text">ورود</span></a></li>
      <li><a href="/register"><span class="text">عضویت</span></a></li>
      <li><a href="mailto:kia.arta9793@gmail.com?subject=medadfeshari"><span class="text">ارسال ایمیل</span></a></li>
      <li><a href="https://www.aparat.com/v/SvsJR"><span class="text">ویدیو آموزشی</span></a></li>
      {% endif %}
    </ul>
    <!-- end menu -->

    <!-- git description -->
    <div class="git-description">
      <div class="container">
        <figure class="thumbnail">
          <img src="{% static 'main/assets/images/image-04.png' %}" alt="">
        </figure>
        <div class="description-box">
          <h6 class="title">کل پروژه رو گذاشتیم توی گیت میت</h6>
          <p class="description">
            خفن مفن نیستیم ولی همه چیزو میزاریم توی یک کتابخونه بزرگ کد مود که اگه یکی فکر کردی میتونست به ما کمک کنه یا
            یک
            چیز بهتری خلق ملق کنه داشته باشش .
          </p>
          <a href="https://github.com/kiahamedi/medadfeshari"><img src=" {% static 'main/assets/images/GITHUB.png' %}" alt=""></a>
        </div>
      </div>
    </div>
    <!-- end git description -->
  </footer>
  <!-- end footer -->