<footer class="page-footer" dir="rtl">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">مداد فشاری</h5>
                <p class="grey-text text-lighten-4">مداد فشاری سایت داستان نویسی، خاطره نویسی و نوشتن افکارات افرادی است که علاقمند به نوشتن هستند.</p>
                <p class="grey-text text-lighten-4">سایت مداد فشاری یک پروژه اوپن سورس خواهد بود و در نهایت سادگی طراحی شده و بدون تبلیغ خواهد بود و تنها هدف آن جمع شدن افرادی است که مایل هستند نوشته های خود را با دنیا شریک شوند.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">لینک های مفید</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="mailto:kia.arta9793@gmail.com?subject=medadfeshari">ارسال ایمیل</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/kiahamedi/medadfeshari">صفحه پروژه در گیت هاب</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/kiahamedi/node-chat-app">صفحه اتاق گفتگو در گیت هاب</a></li>                  

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
             پیاده سازی با نسخه ۲.۱.۵ فریمورک جنگو © 2019 تمام حقوق مطالب منتشر شده برای نگارنده مطلب محفوظ میباشد.
            </div>
          </div>
</footer>
