{% load staticfiles %}

<!-- **************** START Footer ******************** -->

<div class="footer-menu text-center"><!-- START - This is Footer menu -->
    <ul>
        <!--
        |--------------------------------------------------------------------------
        | !! Note :
        |--------------------------------------------------------------------------
        | If you want to add more than 4 links , you need
        | to open this file : css/style.css/
        | and edit this line : 343 and decrease it’s font-size.
        |
        -->
        {% if user.is_authenticated %}
          <li><a href="/admin"><strong>{{user.username}}</strong></a></li>
          <li><a href="https://agile-island-30135.herokuapp.com/">اتاق گفتگو</a></li>
          <li><a href="mailto:kia.arta9793@gmail.com?subject=medadfeshari">تماس با ما</a></li>
          <li><a href="/logout/">خروج</a></li>

      {% else %}
          <li><a href="/login">ورود</a></li>
          <li><a href="/register">عضویت</a></li>
          <li><a href="mailto:kia.arta9793@gmail.com?subject=medadfeshari">تماس با ما</a></li>
          <li><a href="https://www.aparat.com/v/SvsJR">ویدیو آموزشی</a></li>
      {% endif %}
    </ul>
</div><!-- END - This is Footer menu -->



<div class="clearfix"></div><!-- This tag is for elimination of Floats (Please don’t delete this) -->

<footer>
    <div class="container">
        <div class="footer-bottom">
            <div class="col-md-5">
                <img src="{% static 'main/images/image06.png' %}" class="img-responsive" alt="">
            </div>
            <div class="col-md-7">
                <h2>کل پروژه رو گذاشتیم توی گیت میت</h2>
                <p>خفن مفن نیستیم ولی همه چیزو میزاریم توی یک کتابخونه بزرگ کد مود که اگه یکی فکر کردی میتونست به ما کمک
                    کنه یا یک چیز بهتری خلق ملق کنه داشته باشش </p>
                <a href="https://github.com/kiahamedi/medadfeshari"><img src="{% static 'main/images/pattern/github-logo.png' %}" alt=""></a><!-- link Github -->
                <h6> پیاده سازی با نسخه ۲.۱.۵ فریمورک جنگو © 2019 تمام حقوق مطالب منتشر شده برای نگارنده مطلب محفوظ
                    میباشد. </h6>
            </div>
        </div>
    </div>
</footer>


    <div id="modal1" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-center">آیا مطمن هستید که می خواهید حذف کنید ؟</h5>
                </div>
                <div class="modal-body text-center">
                    <form action="/removeIdea/" method="post">
                      {% csrf_token %}
                        <input name="slugpost" id="slugpost" value="{{idea.idea_slug}}" hidden>
                        <input name="create" id="create" value="{{idea.created_by.id}}" hidden>
                        <input type="submit" class="btn btn-success" value="آره حذف کن">
                        <button class="btn btn-danger" data-dismiss="modal">نه وللش</button>
                    </form>
                </div>    

            </div>                
        </div>
    </div>
