{% extends "main/header.html" %}

{% block content %}

<!-- **************** Start Content ******************** -->

<section class="login"><!-- START - This section is related to our Login Form. -->
    <div class="container">

        <form method="POST">
          {% csrf_token %}
            <div class="form-group"><!-- Username -->
                <label for="#">نام کاربری</label>
                  {{form.username}}
            </div>
            <div class="form-group"><!-- Email -->
                <label for="#">گذرواژه </label>
                {{form.password}}
            </div>
            <submit class="btn btn-success md">ورود</submit><!-- Submit Button -->
            <h5>اگر حساب کاربری ندارید
                <a href="/register">ثبت نام </a>
                کنید
            </h5>
        </form>
    </div>
</section><!-- END - This section is related to our Login Form. -->

<div class="clearfix"></div>

<!-- **************** End Content ******************** -->
{% endblock %}
