{% if messages %}
	{% for message in messages %}
		{% if message.tags == 'success' %}
		
			<!-- alert success -->
			<div class="container fadeoutalertsuc">
	            <div class="alert alert-success fade in">                
	                <a href="#" class="close" data-dismiss="alert" arial-lable="close">&times;</a>
	                <p>{{message}}</p>
	            </div>
            </div>
            <!-- alert success -->
		{% elif message.tags == 'info' %}
			<!-- alert information -->
			<div class="container fadeoutalertinfo">
	            <div class="alert alert-info fade in">
	                <a href="#" class="close" data-dismiss="alert" arial-lable="close">&times;</a>
	                <p>{{message}}</p>
	            </div>
            </div>
            <!-- alert information -->
		{% elif message.tags == 'warning' %}
			<!-- alert warning -->
			<div class="container fadeoutalertwarnin">
	            <div class="alert alert-warning fade in">
	                <a href="#" class="close" data-dismiss="alert" arial-lable="close">&times;</a>
	                <p>{{message}}</p>
	            </div>
            </div>
            <!-- alert warning -->    
		{% elif message.tags == 'error' %}
			 <!-- alert danger -->
			 <div class="container fadeoutalerterror">
	            <div class="alert alert-danger fade in">
	                <a href="#" class="close" data-dismiss="alert" arial-lable="close">&times;</a>
	                <p>{{message}}</p>
	            </div>
            </div>
            <!-- alert danger -->
            
		{% endif %}
	{% endfor %}
{%  endif %}