<nav>
	<div class="nav-wrapper">
		 <a href="/" style="margin-left:4px;font-family:georgia,garamond,serif" class="brand-logo"> Medadfeshari.ir <i class="fa fa-pencil" style="color:white;margin-left:6px"></i></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			{% if user.is_authenticated %}
				<li><a href="/logout/">خروج</a></li>
        		<li><a href="http://127.0.1:3000">اتاق گفتگو</a></li>
				<li><a href="/admin"><strong>{{user.username}}</strong></a></li>
			{% else %}
				<li><a href="/register">ثبت نام</a></li>
				<li><a href="/login">ورود</a></li>
			{% endif %}
			<li><a href="/">خانه</a></li>
		</ul>
	</div>
</nav>

{% if user.is_authenticated %}
<div class="fixed-action-btn" >
  <a class="btn-floating btn-large red" href="/admin/main/myidea/add/">
    <i class="large material-icons"><i class="fa fa-plus"></i></i>
  </a>

</div>

{% endif %}
