
<header><!-- Start Header -->

    <div class="header-top">
    <div class="container">
            <nav class="navbar navbar-default"><!-- Start Navigation ( menu ) -->
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"></a>
                    </div>
                    <!-- Collect the nav links , You can add other things like form and ... to it ( but with a little modification) -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav">

                            <!--
                            |--------------------------------------------------------------------------
                            | !! Note :
                            |--------------------------------------------------------------------------
                            | If you want to add more than 4 links , you need
                            | to open this file : css/style.css/
                            | and edit this line : 59 and decrease it’s font-size.
                            |
                            -->

                           {% if user.is_authenticated %}
                              <li><a href="/">صفحه اصلی</a></li>
                              <li><a href="/admin"><strong>{{user.username}}</strong></a></li>
                              <li><a href="https://agile-island-30135.herokuapp.com/">اتاق گفتگو</a></li>
                              <li><a href="/logout/">خروج</a></li>
                          {% else %}
                              <li><a href="/">صفحه اصلی</a></li>
                              <li><a href="/register">عضویت</a></li>
                              <li><a href="/login">ورود</a></li>
                              <!--<li><a href="#">پشت پرده سایت</a></li>-->
                          {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav><!-- /.End navigation -->
        </div>
    </div>
</header><!-- End Header -->



      