<header dir="rtl">
    <div class="container">

      <!-- logo -->
      <a href="/" class="logo">
        مدادفشاری
      </a>
      <!-- end logo -->

      <button type="button" class="menu-button"><img src="./assets/images/menu.png" alt=""></button>

      <!-- menu -->
      <ul class="menu">
      	{% if user.is_authenticated %}
      		<li><a href="/"><span class="text">صفحه اصلی</span></a></li>
	        <li><a href="/admin"><span class="text"><strong>{{user.username}}</strong></span></a></li>
	        <li><a href="https://agile-island-30135.herokuapp.com/"><span class="text">اتاق گفتگو</span></a></li>
	        <li><a href="/logout/"><span class="text">خروج</span></a></li>
      	{% else %}
      		<li><a href="/"><span class="text">صفحه اصلی</span></a></li>
	        <li><a href="/register"><span class="text">عضویت</span></a></li>
	        <li><a href="/login"><span class="text">ورود</span></a></li>
	        <li><a href="#"><span class="text">پشت پرده سایت</span></a></li>
      	{% endif %}
        
      </ul>
      <!-- end menu -->

    </div>
</header>